@import "react-calendar/dist/Calendar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #15803d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #166534;
}